<mat-card class="counter-wrapper">
  <h2>{{ timeLeft | time }}</h2>
  <span>to the next log</span>
  <div *ngIf="!isCounting && !isPaused" class="button-container">
    <p>Are you ready to do something?</p>
    <button mat-raised-button (click)="startCounting()">Start</button>
  </div>
  <div *ngIf="isCounting" class="button-container">
    <p>{{ currentPauseText }}</p>
    <button mat-raised-button (click)="pauseCounting()">Pause</button>
    <button mat-raised-button (click)="logInstantly()">Log now</button>
  </div>
  <div *ngIf="isPaused" class="button-container">
    <p>Paused...</p>
    <button mat-raised-button (click)="resumeCounting()">Resume</button>
  </div>
</mat-card>
