<div>
  <mat-selection-list #projectsList>
    <mat-list-option *ngFor="let project of projectOptions">
      {{ project }}
    </mat-list-option>
  </mat-selection-list>
  <div class="input-wrapper">
    <div class="add-project-input-wrapper">
      <div class="small-margin">
        <mat-form-field>
          <input
            matInput
            [formControl]="newProjectFormControl"
            placeholder="Add task"
          />
        </mat-form-field>
      </div>

      <div class="small-margin">
        <button mat-raised-button (click)="addTask()">✔️</button>
      </div>
    </div>
    <div class="small-margin delete-button-wrapper">
      <button mat-raised-button (click)="deleteTasks()">Delete selected</button>
    </div>
  </div>
</div>
